@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;600;800&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Nunito Sans", sans-serif;
    background: white;
}

.nav {
    position: fixed;
    top: 0;
    width: 100%;
    background: pink;
    z-index: 10;
    box-shadow: 1px 1px 10px lightgray;
    background:hsl(0, 0%, 97%);
}

.nav-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 0;
    left: 20px;
    width: 75%;
    margin: 0 auto;
    
}

.nav__logo {
    font-size: 1rem;
}

.nav__toggle {
    display: flex;
    align-items: center;
    cursor: pointer;
}

.nav__toggle img {
    width: 1rem;
    margin-right: .5rem;
}

.nav__toggle-text {
    font-size: .8rem;
    color: gray;
}

form {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 5rem;
}

main {
    width: 80%;
    margin: 2rem auto;
    
}

.search {
    display: flex;
    flex-direction: column;
    position: relative;
    max-width: 50rem;
}

.search__input {
    width: 100%;
    padding: .6rem 3rem;
    margin: 0 auto;
    align-self: flex-start;
    border-radius: .5rem;
    border: none;
    box-shadow: 1px 1px 5px lightgray;
    font-family: "Nunito Sans", sans-serif;
    
}

.search__icon {
    position: absolute;
    top: .4rem;
    left: 1rem;
    width: 1.5rem;
}

.search__dropdown {
    padding: .6rem 1rem;
    margin-top: 1rem;
    align-self: flex-start;
    background: white;
    border: none;
    border-radius: .5rem;
    box-shadow: 1px 1px 5px lightgray;
    font-family: "Nunito Sans", sans-serif;
    display: flex;
    cursor: pointer;
}

/* style for icon in dropdown menu*/
.search__dropdown img {
    width: 1rem;
    margin-left: 1rem;
}

.search__dropdown-options {
    display: none;
    align-self: flex-start;
    position: absolute;
    top: 5.7rem;
    flex-direction: column;
    list-style: none;
    box-shadow: 1px 1px 5px lightgray;
    border-radius:.5rem;
    background: white;
    margin-top: .2rem;
    overflow: hidden;
    cursor: pointer;
}

.search__dropdown-option {
    width: 9.8rem;
    padding: .35rem 1rem;
}

.search__dropdown-option:hover {
    background: rgb(206, 206, 206);
}

.flow {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(15rem, auto));
    gap: 3rem;
    margin: 0 auto;
    margin-top: 2rem;
    width: 100%;
}

.card {
    background: white;
    box-shadow: 1px 1px 5px lightgray;
    display: flex;
    flex-direction: column;
    border-radius: .5rem;
    overflow: hidden;
    max-width: 20rem;
    cursor: pointer;
    color: hsl(200, 15%, 8%);
}

.card__flag {
    height: 10rem;
    object-fit: cover;
}

.card__info {
    width: 80%;
    margin: 1rem auto 3rem auto;
}

.card__info-name {
    margin: 1rem 0;
}

.card__info-population,
.card__info-region,
.card__info-capital {
    margin: .25rem 0;
    font-weight: 600;
}

/* set the dynamic content within above classes to lower font-weight */
p span {
    font-weight: 300;
}

.modal {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    background: white;
    height: 100%;
    width: 100%;
    z-index: 9;
}

.modal__backbtn {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 8.5rem;
    left: 12.5%;
    padding: .25rem 2rem;
    border: none;
    background: none;
    box-shadow: 1px 1px 10px lightgray;
    cursor: pointer;
}

/* back arrow in button */
.modal__backbtn img {
    padding-right: 1rem;
}

.modal-container {
    display: flex;
    align-items: center;
    width: 75%;
    margin: 15rem auto;
    border: 1px solid grey;
}

.modal__flag {
    width: 40%;
}

.modal__info {
    padding: 5rem;
}

.modal__info-main {
    display: flex;
}

.modal__info-main p {
    font-weight: 600;
    margin: .5rem 5rem .5rem 0;
}

.modal__info-name {
    margin-bottom: 1rem;
}

.modal__info-main-left {
    margin-bottom: 1rem;
}

.modal__info-main-right {
    margin-bottom: 1rem;
}

.modal__info-bordercountries {
    font-weight: 600;
    display: flex;
    margin-top: 5rem;
}


.modal__info-bordercountries button {
    padding: .25rem 1rem;
    margin-left: .5rem;
    border: none;
    background: none;
    box-shadow: 1px 1px 10px lightgray;
    cursor: pointer;
    font-weight: 300;
    color: gray;
}

